
:root {
  --body-text-color: #6c757d;
}

.card-header {
  color: white;
  font-size: 0.2rem !important;
}

.card {
  /* button and card hover affects */
  border-radius: 3px 3px 0 0;
  box-shadow: 0px 3px 8px rgb(139, 137, 137);
  transition: all 300ms ease-in-out;
  flex-basis: 0; /* set a fixed width for each card */
  flex-grow: 0; /* allow cards to grow equally to fill the available space */
  min-width: 250px;
}

.card:hover {
  box-shadow: 0px 10px 40px;
  transform: scale(1.05);
}

.card-header h2.card-title {
  font-size: 1.7rem;
}

.card-header h3.card-title {
  font-size: 1.4rem;
}

.team-heading {
  background-color: rgb(222, 75, 75);
  color: white;
}

.team-area {
  flex-wrap: wrap;
  gap: 25px;
}
